<div class="jumbotron" style="text-align: center" ng-controller="MainController" ng-cloak>
    <div class="alert alert-success" ng-show="authenticated">
        You are logged in as user "{{account.login}}".
    </div>

    <div>
        <h1>C-Boost, Analyse et matching de fichiers d'entreprises</h1>

        <p class="lead">C-Boost utilise des technologies de pointe pour fournir un service d'extraction d'entreprises ultra-rapide et d'analyse de vos données.</p>

        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-lg btn-primary" href="#" role="button">Envoyer votre propre fichier</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-lg btn-success" href="#/mapping/1" role="button">Démonstration</a>
            </div>
        </div>

    </div>
</div>
